@use "Colors" as colors;
@use "Effects" as effects;

$size: 25px;

.check-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    width: $size;
    height: $size;
    margin: 0 10px;
    border-radius: 50%;
    background: colors.$bg-primary;
    box-shadow: effects.$dark-block-shadow,
        inset effects.$dark-inner-shadow;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
        box-shadow: effects.$dark-block-shadow-hover,
            inset effects.$dark-inner-shadow-hover;
        opacity: 0;
        transition: opacity effects.$fast-transition;
    }

    &:hover::before {
        opacity: 1;
    }
}