$bg-primary: #E8EAE3;
$fg-primary: #373833;
$fg-light: #f9f9f9;
$fg-dark: #232321;
$fg-highlight: #FA2742;
$shadow-dark: #232321;

$cell-light: #f0d9b7;
$cell-dark: #b48766; 
$piece-white: #f9f9f9;
$piece-black: #232321;