@use "Colors" as colors;
@use "Effects" as effects;

$show-btn-size: 35px;

.toolbar {
    $line-hight: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    padding: 13px;
    border-radius: effects.$main-block-radius;
    font-size: 20px;
    color: colors.$fg-light;
    background: colors.$fg-primary;
    box-shadow: effects.$dark-block-shadow;

    &>.toolbar-label,
    &>.btn.render {
        white-space: nowrap;
        margin: 0 20px;
    }

    &.mobile {
        display: grid;
        grid-template-columns:
            repeat(2, minmax($show-btn-size, 200px)) auto repeat(2, minmax($show-btn-size, 200px));
        grid-template-rows: repeat(3, $line-hight);
        grid-template-areas:
            "icon icon render-btn . ."
            ". check-btn check-btn check-btn ."
            ". size-slct size-slct size-slct .";
        justify-content: center;
        overflow: hidden;
        width: unset;
        height: $line-hight;
        margin: 12px;
        padding: 5px;
        transition: height effects.$fast-transition;

        &>.toolbar-label {
            display: flex;
            justify-content: center;
            margin: 0;
        }

        &>.btn.render {
            grid-area: render-btn;
            margin: auto;
        }

        &>.size-slct-label {
            grid-area: size-slct;
        }

        &>.check-btn-label {
            grid-area: check-btn;
        }
    }

    &.mobile.expand {
        height: 3 * $line-hight;

        &>.expand-toolbar-ico>img {
            transform: scaleY(-1);
        }
    }
}

.expand-toolbar-ico {
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: $show-btn-size;
    height: $show-btn-size;

    &>img {
        width: 100%;
        color: colors.$fg-light;
        transition: transform effects.$fast-transition;
    }
}